<div class="my-5">
    <h1 class="text-center mb-5">게시글</h1>
    <div class="row">
        <div class="col"></div>
        <div class="col text-end mb-5">
            <button id="btn-insert" class="btn btn-primary">글쓰기</button>
        </div>
        <div>게시글수:<span id="total"></span></div>
        <hr>
        <div id="div-posts"></div>
        <div id="pagination" class="pagination justify-content-center mt-5">
        </div>
    </div>
</div>
<script id="temp-posts" type="x-handlebars-templates">
    <table class="table">
    {{#each .}}
        <tr>
            <td><a href="/posts/read?id={{id}}">{{title}}</a></td>
            <td>{{email}}</td>
            <td>{{date}}</td>
        </tr>    
    {{/each}}
    </table>
</script>
<script type="module">
    import { app } from "/javascripts/firebase.js";
    import { getFirestore,collection } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    import { query,orderBy,getDocs,where,doc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db = getFirestore(app);
    const email=sessionStorage.getItem('email');
    let total=0;

    let page=1;
    const size=3;
    let last=1;

    //게시글 목록
    getPosts();
    async function getPosts() {
        const q = query(collection(db, 'posts'), orderBy("date", "desc"));
        const snapshot = await getDocs(q);
        //console.log(snapshot.docs);
        let rows=[];
        last = Math.ceil(total/size);
        $("#total").html(total);
        if(total != snapshot.docs.length) {
            total = snapshot.docs.length;
            const totalPages = Math.ceil(total/size);
            $("#pagination").twbsPagination("changeTotalPages", totalPages, 1);
        }
        
        await snapshot.docs.forEach(async(row, index)=>{
            //console.log(row.id, row.data());
            const start = (page-1)*size;
            const end = (page*size)-1;
            if(index>=start && index<=end){
                rows.push({id:row.id, ...row.data()});
            }
        });
        //console.log(rows);
        const temp=Handlebars.compile($("#temp-posts").html());
        $("#div-posts").html(temp(rows));
        if(total > size) {
            $("#span-page").html(`${page} / ${last}`);
            $("#span-page").show();
            if(page==1) {
                $("#btn-prev").attr("disabled", true);
            }else{
                $("#btn-prev").attr("disabled", false);
            }
            if(page==last) {
                $("#btn-next").attr("disabled", true);
            }else{
                $("#btn-next").attr("disabled", false);
            } 
        }else{
            $("#pagination").hide();
        }
    }

    $("#btn-insert").on("click", function(){
        if(sessionStorage.getItem("uid")) {
            location.href='/posts/insert'; 
        }else{
            sessionStorage.setItem("target", "/posts/insert");
            location.href="/users/login";
        }
    });

    $("#btn-next").on("click", function(){
        page++;
        getPosts();
    });

    
    $("#btn-prev").on("click", function(){
        page--;
        getPosts();
    });
    $('#pagination').twbsPagination({

        totalPages:10, //총 페이지 번호 수

        visiblePages: 5, // 하단에서 한 번에 보여 지는 페이지 번호 수

        startPage : 1, // 시작 시 표시되는 현재 페이지

        initiateStartPageClick: false, // 플러그인이 시작 시 페이지 버튼 클릭 여부 (default : true) 

        first : '<<', // 페이지네이션 버튼 중 처음으로 돌아가는 버튼에 쓰여 있는 텍스트

        prev : '<', // 이전 페이지 버튼에 쓰여 있는 텍스트

        next : '>', // 다음 페이지 버튼에 쓰여 있는 텍스트

        last : '>>', // 페이지네이션 버튼 중 마지막으로 가는 버튼에 쓰여 있는 텍스트

        onPageClick: function (event, clickPage) {

            page=clickPage;

            getPosts(); 

        }

    });
</script>